<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Privacy-first: no analytics/telemetry. The INTERNET permission exists
         only for optional user-configured Storage Manager connections. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RockEdit"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.EditorActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FolderBrowserActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.LicensesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.StorageManagerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RemoteBrowserActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HelpActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PreviewActivity"
            android:exported="false" />

        <activity
            android:name=".ui.GrepActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.DiffActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HexViewerActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SplitEditorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name=".remote.RemoteContentProvider"
            android:authorities="${applicationId}.remote"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
